/* Scale = 0.1, size = (60, 45) */
* {
  color: #5EB8FB;
  color: #476B26;
  color: #4C9CE1;
  color: #5D878A;
  color: #CADCED;
  color: #7CA444;
  color: #8C9CA4;
  color: #181E14;
  color: #2C4A16;
  color: #556C55;
  color: #34441C;
  color: #6C8C34;
}

/* Scale = 0.2, size = (120, 90) */
* {
  color: #63B5F2;
  color: #3E5B2A;
  color: #CDDCE7;
  color: #5B7B89;
  color: #946C78;
  color: #28201C;
  color: #598929;
  color: #709434;
  color: #349CFC;
  color: #244212;
  color: #4C84B4;
  color: #8CAC4C;
}

/* Scale = 0.3, size = (180, 135) */
* {
  color: #76C3F9;
  color: #CBDAE8;
  color: #395723;
  color: #59A8E5;
  color: #291F17;
  color: #5C7B75;
  color: #87966A;
  color: #B72848;
  color: #6A9838;
  color: #618135;
  color: #4C801D;
  color: #447CB4;
}

/* Scale = 0.4, size = (240, 180) */
* {
  color: #73C3F9;
  color: #D1DDE8;
  color: #3A5C20;
  color: #57A6E4;
  color: #202117;
  color: #818D63;
  color: #496A7A;
  color: #60912B;
  color: #4B604C;
  color: #54749E;
  color: #BC1C2C;
  color: #143C0C;
}

/* Scale = 0.5, size = (300, 225) */
* {
  color: #CDDAE3;
  color: #56AAEB;
  color: #75C4F9;
  color: #314D22;
  color: #729A4A;
  color: #1C1B11;
  color: #546F72;
  color: #5B733B;
  color: #86665D;
  color: #C13551;
  color: #437916;
  color: #94BC5C;
}

/* Scale = 0.6, size = (360, 270) */
* {
  color: #76C4F6;
  color: #CDDAE4;
  color: #58A6E4;
  color: #314E21;
  color: #6F993F;
  color: #4D6D7A;
  color: #1B1B13;
  color: #5A713C;
  color: #845D5A;
  color: #427A15;
  color: #BB2848;
  color: #446C9C;
}

/* Scale = 0.7, size = (420, 315) */
* {
  color: #CFDBE3;
  color: #80CAF7;
  color: #5CAEED;
  color: #345321;
  color: #1C1F12;
  color: #839964;
  color: #5B7676;
  color: #689B2D;
  color: #627C3E;
  color: #488119;
  color: #BE2847;
  color: #4E7CA1;
}

/* Scale = 0.8, size = (480, 360) */
* {
  color: #76C4F5;
  color: #D0DBE4;
  color: #59A8E7;
  color: #304D1E;
  color: #6F9942;
  color: #4F6C73;
  color: #191B11;
  color: #5A7139;
  color: #81645E;
  color: #BC2D4B;
  color: #437917;
  color: #406C9C;
}

/* Scale = 0.9, size = (540, 405) */
* {
  color: #CFDBE1;
  color: #5DADEB;
  color: #81CAF3;
  color: #365223;
  color: #759F45;
  color: #517072;
  color: #817061;
  color: #17190F;
  color: #508222;
  color: #B92345;
  color: #103707;
  color: #14449C;
}

/* Scale = 1, size = (600, 450) */
* {
  color: #CFDBE1;
  color: #5DADEB;
  color: #80CAEF;
  color: #2F4C1F;
  color: #75A145;
  color: #4F6D70;
  color: #807469;
  color: #161A11;
  color: #5B7637;
  color: #447C16;
  color: #BE334F;
  color: #244C9C;
}